-- CreateTable
CREATE TABLE "Student" (
    "id" SERIAL NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "address" TEXT,
    "age" INTEGER,
    "city" TEXT,
    "phone" TEXT,
    "expectedBand" DOUBLE PRECISION,
    "batch" TEXT,
    "role" TEXT NOT NULL DEFAULT 'STUDENT',

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Paper" (
    "id" SERIAL NOT NULL,
    "paperCode" TEXT NOT NULL,
    "testType" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "timeLimitMin" INTEGER NOT NULL,
    "instructions" TEXT,
    "audioUrl" TEXT,
    "audioScript" TEXT,
    "status" TEXT NOT NULL DEFAULT 'PUBLISHED',
    "assignedBatches" TEXT NOT NULL DEFAULT 'ALL',
    "order" INTEGER NOT NULL DEFAULT 0,

    CONSTRAINT "Paper_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Passage" (
    "id" SERIAL NOT NULL,
    "paperId" INTEGER NOT NULL,
    "passageNumber" INTEGER NOT NULL,
    "title" TEXT,
    "text" TEXT NOT NULL,

    CONSTRAINT "Passage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WritingTask" (
    "id" SERIAL NOT NULL,
    "paperId" INTEGER NOT NULL,
    "taskNumber" INTEGER NOT NULL,
    "prompt" TEXT NOT NULL,
    "chartUrl" TEXT,
    "minWords" INTEGER NOT NULL DEFAULT 150,

    CONSTRAINT "WritingTask_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Question" (
    "id" SERIAL NOT NULL,
    "paperId" INTEGER NOT NULL,
    "passageNumber" INTEGER,
    "sectionNumber" INTEGER,
    "questionNumber" INTEGER NOT NULL,
    "questionType" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "options" TEXT,
    "correctAnswer" TEXT NOT NULL,
    "explanation" TEXT,
    "imageUrl" TEXT,
    "audioUrl" TEXT,
    "wordLimit" TEXT,
    "tableData" JSONB,
    "groupInstruction" TEXT,

    CONSTRAINT "Question_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Attempt" (
    "id" SERIAL NOT NULL,
    "studentId" INTEGER NOT NULL,
    "paperId" INTEGER NOT NULL,
    "startedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endedAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'IN_PROGRESS',

    CONSTRAINT "Attempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Answer" (
    "id" SERIAL NOT NULL,
    "attemptId" INTEGER NOT NULL,
    "questionId" INTEGER NOT NULL,
    "studentAnswer" TEXT NOT NULL,
    "isCorrect" BOOLEAN,

    CONSTRAINT "Answer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WritingSubmission" (
    "id" SERIAL NOT NULL,
    "attemptId" INTEGER NOT NULL,
    "task1Response" TEXT,
    "task2Response" TEXT,
    "task1WordCount" INTEGER,
    "task2WordCount" INTEGER,
    "task1Band" DOUBLE PRECISION,
    "task2Band" DOUBLE PRECISION,
    "overallBand" DOUBLE PRECISION,
    "aiFeedback" TEXT,
    "markingStatus" TEXT NOT NULL DEFAULT 'PENDING',

    CONSTRAINT "WritingSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Result" (
    "id" SERIAL NOT NULL,
    "attemptId" INTEGER NOT NULL,
    "rawScore" DOUBLE PRECISION,
    "bandEstimate" DOUBLE PRECISION,
    "teacherReviewed" BOOLEAN NOT NULL DEFAULT false,
    "overrideBand" DOUBLE PRECISION,
    "strengths" TEXT,
    "weaknesses" TEXT,
    "improvementAdvice" TEXT,
    "aiFeedbackJson" TEXT,
    "aiFeedback" TEXT,
    "finalStudentReport" TEXT,

    CONSTRAINT "Result_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SpeakingSubmission" (
    "id" SERIAL NOT NULL,
    "attemptId" INTEGER NOT NULL,
    "part1AudioUrl" TEXT,
    "part2AudioUrl" TEXT,
    "part3AudioUrl" TEXT,
    "part1Transcript" TEXT,
    "part2Transcript" TEXT,
    "part3Transcript" TEXT,
    "part1Band" DOUBLE PRECISION,
    "part2Band" DOUBLE PRECISION,
    "part3Band" DOUBLE PRECISION,
    "overallBand" DOUBLE PRECISION,
    "aiFeedback" TEXT,
    "markingStatus" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SpeakingSubmission_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Student_email_key" ON "Student"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Paper_paperCode_testType_key" ON "Paper"("paperCode", "testType");

-- CreateIndex
CREATE UNIQUE INDEX "WritingSubmission_attemptId_key" ON "WritingSubmission"("attemptId");

-- CreateIndex
CREATE UNIQUE INDEX "Result_attemptId_key" ON "Result"("attemptId");

-- CreateIndex
CREATE UNIQUE INDEX "SpeakingSubmission_attemptId_key" ON "SpeakingSubmission"("attemptId");

-- AddForeignKey
ALTER TABLE "Passage" ADD CONSTRAINT "Passage_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "Paper"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WritingTask" ADD CONSTRAINT "WritingTask_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "Paper"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Question" ADD CONSTRAINT "Question_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "Paper"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attempt" ADD CONSTRAINT "Attempt_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Attempt" ADD CONSTRAINT "Attempt_paperId_fkey" FOREIGN KEY ("paperId") REFERENCES "Paper"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Answer" ADD CONSTRAINT "Answer_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "Attempt"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Answer" ADD CONSTRAINT "Answer_questionId_fkey" FOREIGN KEY ("questionId") REFERENCES "Question"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WritingSubmission" ADD CONSTRAINT "WritingSubmission_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "Attempt"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Result" ADD CONSTRAINT "Result_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "Attempt"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SpeakingSubmission" ADD CONSTRAINT "SpeakingSubmission_attemptId_fkey" FOREIGN KEY ("attemptId") REFERENCES "Attempt"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

